extends ../layout/main

block content
  main.centered
    h1 #{products.title}
    hr
    .image: img(src=products.imageUrl alt=products.title)
    h2 Rp. #{new Intl.NumberFormat('id').format(products.price)}
    p #{products.description}
    include ../component/btn-add-card